{{ kint(text) }}
{{ kint(sponsor) }}
{{ kint(person) }}
<div class="block">
  <div class="hello-world">
    <span class="text"></span>
    <span class="session"></span>
    <span class="person"></span>
  </div>
</div>
